/* src/styles/global.css */

/* Fondo global oscuro */
body {
  background-color: #0a0a0a;
  color: #ffffff;
}

/* Fix para ocultar el loader viejo de la plantilla */
.loader {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  z-index: -9999 !important;
}